@import '~styles/base';

.root {
  display: flex;
  position: absolute;
  bottom: 30px;
}

.indicator {
  $size: 10px;
  height: $size;
  width: $size;
  border-radius: 50%;
  background-color: white;
  align-content: center;
  justify-content: center;
}

.current {
  color:green;
  // TODO
}