@import '~styles/base';

.root {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  top: 90%;
}


.indicator {
  margin: 12px;
  bottom: 40px;
  $size: 10px;
  height: $size;
  width: $size;
  border-radius: 50%;
  background-color: white;
}


.current {
  background-color:#69C692;
  // TODO
}