@import '~styles/base';

.root {
  margin: 0 20px;

  input {
    font-size: 3rem;
    padding: 1rem;
    width: 100%;
  }
}

.prompt {
  margin-bottom: 10px; 
  font-family: "Chronica Pro";
  color: white;
}