@import '~styles/base';

body {
  background: url('../../../images/BG1.jpg')
}

.h1{
    color: white;
    letter-spacing: normal;
    position: relative;
    top:50px;
    font-size: 22px;
    line-height: 42px;
    max-width: 239px;
    max-height: 84px;
    width: 239px;
    height: 84px;
}

.p{
    // color: white;
    // letter-spacing: -0.53px;
    position: relative;
    // top: 80px;
    line-height: 28px;
    // width: 326px;
    // height: 116px;
    height: 116px;
    width: 326px;
    color: #FFFFFF;
    font-family: "Chronica Pro";
    font-size: 22px;
    letter-spacing: -0.53px;
    line-height: 28px;
}

.powered-by{
    // color:white;
    // letter-spacing: normal;
    position: absolute;
    top: 345px;
    left: 20px;
    // width: 71px;
    // height: 13px;
    text-transform: capitalize;
    // font-weight: bold;
    // line-height: 13px;
    // font-style: normal;
    // left:20px;
    height: 13px;
    width: 71px;
    color: #FFFFFF;
    font-family: "Chronica Pro";
    font-size: 10px;
    font-weight: bold;
    line-height: 13px;
}