@import '~styles/base';

.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10%;
}

.vs {
  background-color: #0B254E;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  min-width: 40px;
  color: white;
  margin: 5%;
}

.house {
  width: 100px;
  height: 130px;
}

.life {
  width: 100px;
  height: 100px;
}